<h5 class="card-title">Personal Information</h5>

<div class="row">
    <div class="col-lg-3 col-md-4 label "> Name</div>
    <div class="col-lg-9 col-md-8">{{personalInformation.name }}</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">Email</div>
    <div class="col-lg-9 col-md-8">{{personalInformation.email }}</div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label">Phone</div>
    <div class="col-lg-9 col-md-8">{{ personalInformation.phone}}</div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label">Address</div>
    <div class="col-lg-9 col-md-8">{{ personalInformation.address}}</div>
</div>