<div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed">
    <!-- Side Overlay-->
    <app-side-overlay></app-side-overlay>
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Header -->
    <app-page-header></app-page-header>
    <!-- Main Container -->
    <main id="main-container">
        <router-outlet></router-outlet>
    </main>
    <!-- END Main Container -->
    <!-- Footer -->
    <app-dashboard-footer></app-dashboard-footer>
    <!-- Apps Modal -->
    <!-- Opens from the modal toggle button in the header -->
    <app-dashboard-modal></app-dashboard-modal>
    <!-- END Apps Modal -->
</div>