<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img [src]=" brand.photo " class="d-block w-100" alt="Brand Image ">
        </div>
        <div class="col-md-6">
            <h1>{{ brand.name }}</h1>
            <p><strong>Type:</strong> {{brand.type_value}} </p>
            <p><strong>Category:</strong> {{brand.category_value}}</p>


            <div class="mt-4">
                <button class="btn btn-primary mx-2" [routerLink]="['/admin/dashboard/brands/update',brand.id,data]">Edit</button>
                <button class="btn btn-secondary mx-2" (click)="onDeleteBrand()">Delete</button>
            </div>
        </div>
    </div>
</div>
