<div class="block-content">
    <button type="button" class="btn btn-success btn-outline-light mr-1 mb-3" [routerLink]="['/admin/dashboard/customers/create']">
    <i class="fa fa-fw fa-plus mr-1"></i> New Customer
</button>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-vcenter">
            <thead>
                <tr>
                    <th class="text-center">
                        #
                    </th>
                    <th style="width: 100px;">Photo</th>
                    <th>Name</th>
                    <th style="width: 30%;">Email</th>
                    <th style="width: 15%;">Phone</th>
                    <th style="width: 15%;">Address</th>
                    <th class="text-center" style="width: 100px;">Actions</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let customer of customers; let i=index">
                    <td class="text-center">
                        {{i+1}}
                    </td>
                    <td class="text-center">
                        <img class="img-avatar img-avatar48" src="../assets/themes/my-theme/media/photos/photo1.jpg" alt=" ">
                    </td>
                    <td class="font-w600 font-size-sm ">
                        <a>{{ customer.name }}</a>
                    </td>
                    <td class="font-w600 font-size-sm ">
                        <a>{{ customer.email }}</a>
                    </td>
                    <td class="font-w600 font-size-sm ">
                        <a> {{ customer.phone }}</a>
                    </td>
                    <td class="font-size-sm ">{{ customer.address}} </td>

                    <td class="text-center ">
                        <div class="btn-group ">
                            <button type="button " class="btn btn-sm btn-primary " title="Show" [routerLink]="['/admin/dashboard/customers/show',customer.id]">
            <i class="fas fa-eye " ></i>
          </button>
                            <button type="button " class="btn btn-sm btn-primary " title="Edit" [routerLink]="['/admin/dashboard/customers/update',customer.id]">
            <i class="fa fa-fw fa-pencil-alt "></i>
          </button>
                            <button type="button " class="btn btn-sm btn-primary " title="Delete">
            <i class="fa fa-fw fa-times "></i>
          </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>